streamlit
pandas
numpy

pypdf
pymupdf

langchain
langchain-community
langchain-core
langchain-huggingface

faiss-cpu
sentence-transformers
transformers
torch
torchvision

google-generativeai
gtts
python-dotenv
streamlit-mic-recorder
SpeechRecognition